body
{
    background-color: #121212;
    font-family: 'Roboto Slab', serif;;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{

    
    box-sizing: border-box;

}
h2 {
    text-align: center;
    margin-bottom: 40px;

}
.card 
  {
      bbox-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086),
          0 100px 80px rgba(0, 0, 0, 0.12);
          min-height: 200px;
          background: rgba(255, 255, 255, .5);
          border-radius: 5px;
          height: auto;
          width: 50vw;  
          margin: 100px auto;
          position:static;
          text-align: center;
        
  }
  .content
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a:link{
    text-decoration: none;
    color: black;
    opacity: 50%;
  }
  input[type=text] {
 
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 92%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: green;
  }
  .error {

   background: #F2DEDE;
   color: #0c0101;
   padding: 10px;
   border-radius: 5px;
   margin: 20px auto;

}
.header {
    overflow: hidden;
    background-color: #d4d0d0;
    width: 100%;
    border-radius: 5px;
    padding-bottom: 1%;
    padding-top: 1%;
  }
  .header img{
    padding-left: 3%;
  }
  

  .header a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 50px;
  }
.header input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 16px;
    font-size: 17px;
  }
  .header input[type=password] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 16px;
    font-size: 17px;
  }
  input[type=password] {
 
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .header input[type=date] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-left: 16px;
    font-size: 17px;
  }
  input[type=date] {
 
    padding: 12px 50px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  p{
    color: black;
  }
  hr{
    width: 100%;
    background-color: black;

  }
  label {
    display: inline-block;
    width: 150px;
    text-align: right;
  }

  .column {
    float: left;
    width: 50%;
    padding: 10px;
   
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }
  .card3 
  {
      bbox-shadow:
          0 2.8px 2.2px rgba(0, 0, 0, 0.034),
          0 6.7px 5.3px rgba(0, 0, 0, 0.048),
          0 12.5px 10px rgba(0, 0, 0, 0.06),
          0 22.3px 17.9px rgba(0, 0, 0, 0.072),
          0 41.8px 33.4px rgba(0, 0, 0, 0.086),
          0 100px 80px rgba(0, 0, 0, 0.12);
          height: 200px;
          background: rgba(255, 255, 255, .5);

          border-radius: 10px;
          width: 200px  ;
          
          color:white;      
  }
  .card3:hover {
    background-color: #ddd;
  }
  h1{
    color:#0c0101
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: medium ;
    
  }
  
  li {
    float: left;

  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
  
    color: white;
    text-align: center;
   
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #888383;
  }
  
  .active {
    background-color: #185300;
  }
  .square:hover{
    background-color: #7b7b7b ;
  }